@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #fff;
  --secondary-color: #000;
  --tertiary-color: rgb(50, 50, 50);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

code {
  background-color: #eee;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
}

.break-line {
  width: 100%;
  height: 1px;
  background-color: var(--secondary-color);
  margin: 1rem 0;
  border-radius: 12px;
}

.btn {
  padding: 12px 24px;
  border: 0;
  background-color: var(--secondary-color);
  color: #fff;
  border-radius: 12px;
  font-size: 20px;
  border: 2px solid var(--secondary-color);
  transition: 0.2s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.tertiary-color {
  color: var(--tertiary-color);
}

.footer {
  padding: 2rem;
  text-align: center;
}
