.imageContainer {
  width: 150px;
  margin: 0 auto;
}

.postsContainer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 1rem;
  padding: 1rem;
}

@media (min-width: 1000px) {
  .postsContainer {
    grid-template-columns: 1fr 1fr;
  }

  .postsContainer > *:nth-child(odd) {
    justify-self: end;
  }

  .postsContainer > *:nth-child(even) {
    justify-self: start;
  }
}
