.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.postContainer {
  width: 80vw;
  max-width: 700px;
}

.postContainer h3 {
  margin: 1rem 0;
}

.postContainer p {
  margin: 0.5rem 0;
}

.postContainer ol {
  margin: 0 0 1rem 1rem;
}
