.container {
  max-width: 500px;
  padding: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
}

.author {
  margin-top: 0.5rem;
}

.date {
  margin-bottom: 0.5rem;
}

/* .container:nth-child(odd) {
  justify-self: end;
}

.container:nth-child(even) {
  justify-self: start;
} */

.imageContainer {
  width: 100%;
}
