.container {
  max-width: 500px;
  padding: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
}

.imageContainer {
  width: 100%;
  max-height: 250px;
  overflow: hidden;
}

.container img {
  width: 100%;
}

.author {
  margin-top: 0.5rem;
}

.date {
  margin-bottom: 0.5rem;
}
