.container {
  max-width: 500px;
  padding: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  overflow-wrap: break-word;
  display: grid;
  gap: 0.5rem;
}

.imageContainer {
  width: 100%;
}
